<div class="wrapper">
    <form action="#" method="post">
      <div class="field">
        <input type="text" id="name" name="Cine suntem?" placeholder="Moody Tunes, cum si despre muzica." autofocus/>
        <label for="name">Cine suntem?</label>
      </div>
      <div class="field">
        <input type="text" id="email" name="email" placeholder="moodytunes@yahoo.com" />
        <label for="email">E-Mail</label>
      </div>
      <div class="field">
        <textarea id="msg" rows="4" name="Unde ne gasesti?" placeholder="Nu ne gasesti..."></textarea>
        <label for="msg">Ne cauti?</label>
      </div>
      
    </form>
  
  </div>